@model ProductManagement.Models.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_ProductLayouts.cshtml";
}
<script>
    window.onload = function () {
        document.getElementById("category").value = "";
        document.getElementById("myForm").reset();
    }
</script>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        Add New Category
    </div>
    <div class="card-body">
        <form id="myForm" action="~/Category/AddCategory" method="post">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", @name = "category", @id = "category" } })
                        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add" class="btn btn-info" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="box-title">Category List</h6>
     </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="full-opacity-hover">
                    <tr>
                        <th>Category</th>
                        <th>Created On</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.CategoryList)
                    {
                        <tr>

                            <td>@item.CategoryName</td>
                            <td>@item.Createddate</td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th>Category</th>
                        <th>Created</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>